@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply font-jakarta text-[#5E6778] bg-[#F3FFF460]; */

    /* background-color: linear-gradient(to right, #DFFFE0, #FFF4E0); */

    @apply bg-gradient-to-b from-[#F8FAFC99] to-[#F8FAFCdd];

    /* @apply bg-gradient-to-r from-[#F3FFF4] to-[#FFF9F0]; */

    /* @apply bg-gradient-to-b from-[#161A23] via-[#0D0F15] to-[#0D0F15]; */
  }
}

@layer utilities {
  .event {
    display: grid;
    grid-template-columns: 50px auto;
    /* grid-template-columns: 50px auto 50px; */
    grid-gap: 10px;
    justify-content: flex-start;
    align-content: stretch;
    justify-items: start;
    padding: 12px;
  }

  .image--event {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
  }

  /* .action-event-comment {
    grid-column: 2 / 4;
  }

  .time-event {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }*/

  .comment-image--event {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }
}
