@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-jakarta text-[#5E6778] bg-[#F7FAFD];
  }
}

@layer utilities {
  .event {
    display: grid;
    grid-template-columns: 50px auto;
    /* grid-template-columns: 50px auto 50px; */
    grid-gap: 10px;
    justify-content: flex-start;
    align-content: stretch;
    justify-items: start;
    padding: 12px;
  }

  .image--event {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
  }

  /* .action-event-comment {
    grid-column: 2 / 4;
  }

  .time-event {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }*/

  .comment-image--event {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  } 
}
